form {
    width: 40rem;
    height: 25rem;
    background-color: rgba(127, 133, 255, 0.709);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

input {
        text-align: center;
        height: 2rem;
        width: 80%;
}

#boton {
    width: 30%;
    height: 10%;
    background-color: rgba(127, 255, 212, 0.359);
    color: rgba(0, 0, 255, 0.695);
    font-weight: 800;
}

h2 {
    color: rgb(28, 96, 199);
}

input::placeholder{
    color: rgba(0, 98, 255, 0.671);
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

.error {
    border: 0.2rem solid red;
    background-color: rgba(233, 97, 97, 0.866);
}

#resultado {
    background-color: rgba(104, 129, 204, 0.285);
    width: 30%;
    height: 15%;
}