
#box {
    height: 50%;
    width: 18%;
    border: 5px solid rgba(128, 128, 128, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box > img {
    width: 50%;
    height: 30%;
    position: relative;
    top: 0px;
    align-items: center;
    padding-bottom: 0%;
    padding-top: 5%;
}

.input_texto {
    width: 87%;
    height: 17%;
    color: rgb(128, 128, 128, 0.60);
    border: 1px solid rgba(128, 128, 128, 0.50);
}

#input_mail {
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

#input_pass {
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}


#boton_entrar {
    margin-top: 5%;
    background-color: rgb(3, 3, 73);
    color: white;
    width: 87%;
    height: 17%;
    padding: 1%;
    font-size: 90%;
    border-radius: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#titulo_iniciar {
    color: grey
}

#boton_olvide {
    border-radius: 40%;
    padding: 3%;
    color: grey;
    border: 1px solid rgba(128, 128, 128, 0.50);
    margin-bottom: 5%;
}